<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Ветеринарные услуги на дому</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'page/site.css' %}" />
    </head>
    <body>
        <div class="mainContainer">
            <header>
            
                <img class="logoIMG" src="../../static/img/64d3a78f9bc0def50b575cb5ab89c10f.png">
                <nav>
                    <a class="textB">Наши услуги</a> /
                    <a class="textB">Запись на приём</a> /
                    <a class="textB">Отзывы</a> /
                    <a class="textB">Контакты</a>
                </nav>
            </header>
            <div>
                <div class="containerTextA">
                    <span class="textA"> <span class="textARgin">Выездная</span> ветеринарная клиника <span class="textARgin">24/7</span></span>
                </div>
                <div class="containerInfo">
                    <div class="containerInfoA">
                        <div class="containerTextC">
                            <div class="containerInfoIMG">
                                <img src="../../static/img/image 3.png" alt="#">
                            </div>
                            <span class="textB">
                                Экстренный выезд за 60 минут
                            </span>
                        </div>
                        <div class="containerTextC">
                            <div class="containerInfoIMG">
                                <img src="../../static/img/image 2.png" alt="#">
                            </div>
                            <span class="textB">
                                Современный подход
                            </span>
                        </div>
                        <div class="containerTextC">
                            <div class="containerInfoIMG">
                                <img src="../../static/img/image 1.png" alt="#">
                            </div>
                            <span class="textB">
                                Опытные специалисты
                            </span>
                        </div>
                        <div class="containerInfoInput">
                            <input type="text" size="40" placeholder="Номер телефона">
                            <button>Оставить заявку</button>
                        </div>
                    </div>
                    <div class="containerInfoB">
                        <img src="../../static/img/Group 6.png">
                    </div>
                </div>
            </div>
            <div>
                <div class="containerTextD">
                    <span class="textD">
                        Наши услуги
                    </span>
                </div>
                <div>
                    <div class="card">
                        <div class="cardHeader">
                            <span class="textARgin">Кастрация/стерелизация</span>
                            <span class="textARgin">от 1900 Р</span>
                        </div>
                        <div class="cardBody">
                            <span class="textB">
                                Кастрация – быстрое и безболезненное удаление половых желез. Стерилизация – процедура перевязки семявыводящих протоков у самцов или маточных трубы у самок.
                            </span>
                        </div>
                        <div class="cardFooter">
                            <img class="catIMG" src="../../static/img/cat-halloween-kitty-svgrepo-com.svg" alt="#">
                        </div>
                    </div>
                    <div class="card">
                        <div class="cardHeader">
                            <span class="textARgin">Кастрация/стерелизация</span>
                            <span class="textARgin">от 1900 Р</span>
                        </div>
                        <div class="cardBody">
                            <span class="textB">
                                Кастрация – быстрое и безболезненное удаление половых желез. Стерилизация – процедура перевязки семявыводящих протоков у самцов или маточных трубы у самок.
                            </span>
                        </div>
                        <div class="cardFooter">
                            <img class="catIMG" src="../../static/img/cat-halloween-kitty-2-svgrepo-com.svg" alt="#">
                        </div>
                    </div>
                    <div class="card">
                        <div class="cardHeader">
                            <span class="textARgin">Кастрация/стерелизация</span>
                            <span class="textARgin">от 1900 Р</span>
                        </div>
                        <div class="cardBody">
                            <span class="textB">
                                Кастрация – быстрое и безболезненное удаление половых желез. Стерилизация – процедура перевязки семявыводящих протоков у самцов или маточных трубы у самок.
                            </span>
                        </div>
                        <div class="cardFooter">
                            <img class="catIMG" src="../../static/img/dog-svgrepo-com (2).svg" alt="#">
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div>
            <div class="cardB">
                <div class="cardBContainer">
                    <span class="textA"> Отсавьте заявку на сайте и получите <span class="textARgin">СКИДКУ 10%</span></span>
                    <div class="containerInfoInput">
                        <input type="text" size="40" placeholder="Номер телефона">
                        <button>Оставить заявку</button>
                    </div>
                </div>
                <div>
                    <img class="crdBIMG" src="../../static/img/8b6220b670d1f451033aaec5e1b9bfa3.png">
                </div>
            </div>
        </div>
        <div>
            <div class="containerTextD">
                <span class="textD">
                    Отзыв о нашей работе
                </span>
            </div>
            <div class="containerTextAndIMG">
                <img class="containerTextAndIMGIMG" src="../../static/img/cat-3-svgrepo-com.svg" alt="#">
                <div class="containerTextAndIMGText">
                    <span class="textB">Выражаю благодарность вашим врачам. Мы давно пользуемся этим сервисом. К нам всегда приезжают добрые и опытные специалисты. В этот раз врач быстро определил беременность у кошки, порекомендовал витамины и уход. Теперь ждем пополнения, сразу будем вызывать ветеринара для осмотра после родов.</span>
                </div>
            </div>
            <div class="containerTextAndIMG">
                <img class="containerTextAndIMGIMG" src="../../static/img/cat-1-svgrepo-com.svg" alt="#">
                <div class="containerTextAndIMGText">
                    <span class="textB">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tenetur delectus non modi harum exercitationem corrupti doloremque. Omnis quo ipsa doloremque. Placeat qui dignissimos ipsa ratione quasi, sequi consequuntur. Non.</span>
                </div>
            </div>
            <div class="containerTextAndIMG">
                <img class="containerTextAndIMGIMG" src="../../static/img/dog-2-svgrepo-com.svg" alt="#">
                <div class="containerTextAndIMGText">
                    <span class="textB">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis veritatis repellendus, consectetur in asperiores nihil laborum perspiciatis ex magnam animi mollitia reiciendis nisi tempore quia maxime optio. Doloremque, reiciendis et.</span>
                </div>
            </div>

            <div class="containerTextD">
                <span class="textD">
                    Как с нами связаться 
                </span>
            </div>
            <div class="mainContainer3">
                <div class="containerTextMas">
                    <span class="textB">+7 915 109 25 81</span>
                    <span class="textB">Круглосуточно и без выходных</span>
                    <span class="textB">Приедем по МСК и до 30 км за МКАД</span>
                    <span class="textB">Москва Улица щелковская д.3</span>
                </div>
                <img src="../../static/img/image 5.png">
            </div>
            <footer>
                <img class="footerIMG" src="../../static/img/image 6.png">
            </footer>
        </div>
    </body>
</html>
